a {
  color: #000;
  font-weight: bold;
}

h1 {
  font-size: 2rem !important;
}

i {
  font-size: 1.8rem;
}

li {
  font-size: 0.65rem !important;
  margin-right: 20px;
}

nav {
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 12.5vh;
  width: 100vw;
  z-index: 9999;
}

ul {
  list-style: none;
}

.active, li:hover {
  color: #CA9050;
}

.container-logo {
  background-color: #CA9050;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: solid 3px #FFF;
  border-top: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  left: 1vw;
  height: 19vh;
  width: 100px;
  z-index: 99999;
}

.logo {
  width: 90px;
}

.navbar-lateral {
  background-color: #FFF;
  height: 100vh;
  position: fixed;
  width: 50vw;
  right: 0;
  z-index: 99999999999;
}

.phone-number {
  font-size: 1.2rem !important;
  margin-left: 7.5px;
}

@media screen and ( max-width: 500px ) {
  .change-font {
    font-size: 0.48rem !important;
  }

  .container-logo {
    height: 15vh;
    left: 1vw;
    width: 75px;
  }

  .logo {
    width: 65px;
  }

  .navbar-lateral {
    width: 75vw;
  }
}
