<nav class="animate__animated animate__fadeInDown align-items-center d-flex justify-content-center position-fixed p-1 row">
  <div class="col-7 col-lg-2 pl-5 text-end">
    <i class="fa-brands fa-facebook pointer text-facebook" (click)="openUrl('https://www.facebook.com/valquiria.apart?mibextid=9R9pXO')"></i>
    <i class="fa-brands fa-instagram mx-3 pointer text-instagram" (click)="openUrl('https://www.instagram.com/valquiria_apart/')"></i>
    <i class="fa-brands fa-whatsapp mr-2 pointer text-whatsapp" (click)="openUrl('https://api.whatsapp.com/send?phone=+542920418546&text=Hola, me gustaria saber sobre la disponibilidad, horarios y precios de alquiler. Muchas gracias!')"></i>
  </div>

  <div class="col-3 col-lg-8 col-xl-6 align-items-center d-inline-flex d-lg-flex justify-content-center">
    <ul class="d-flex mt-2">
      <li *ngFor="let link of links" (click)="scrollTo(link.target)" class="pointer"
        [ngClass]="{'active': link.url == 'inicio', 'd-none d-lg-block': !link.showAlways, 'change-font': link.showAlways}">
        {{link.title}}
      </li>
    </ul>
  </div>

  <div class="col-2 d-lg-none text-center">
    <i (click)="openModalLateral()" class="fa-solid fa-bars pointer"></i>
  </div>

  <div class="align-items-center col-4 d-none d-xl-flex">
    <div id="TT_vCTgbxYBY8Ua8QhUjfujjzDjD6aU1Y8FbtkYEZCIqEj5mIm5G" style="width: 452px; height: 89px; color: rgb(0, 0, 0); overflow: hidden;">
      <iframe id="TTF_vCTgbxYBY8Ua8QhUjfujjzDjD6aU1Y8FbtkYEZCIqEj5mIm5G" src="https://www.tutiempo.net/V4/widget/tt_NXwxfDM4MjYyNnxufG58bnw0MzMwM3wzMHwxMXwxfDF8NXwzfDI1fHN8c3xufEU4NkY2Rnw3MUI5RjB8fEJEQkRCRHwwMDAwMDB8NjZ8M3w1N3w2MHwxNDZ8MjJ8NzZ8MHw0NTJ8ODl8NTV8Mzh8MTV8MTV8Mjl8NTR8Mjh8Q0F8MXw%2C" frameborder="0" scrolling="no" width="100%" height="80%" allowtransparency="allowtransparency" style="overflow:hidden;"></iframe>
    </div>
  </div>
</nav>

<div class="align-items-end container-logo d-flex justify-content-center position-absolute">
  <img src="assets/images/logo.png" alt="Logo Valquiria alquileres" class="logo mb-3 rotate">
</div>

<div *ngIf="isOpenModalLateral" class="animate__animated animate__fadeInRight d-lg-none navbar-lateral p-3">
  <div class="row">
    <div class="col-12 mb-3 text-end">
      <i (click)="closeModalLateral()" class="fa-solid fa-xmark pointer"></i>
    </div>

    <div class="col-12">
      <ul class="mt-2">
        <li *ngFor="let link of links; let isFirst = first" (click)="scrollTo(link.target, true)" class="mb-4 pointer"
        [ngClass]="{'active': link.url == 'inicio'}">
          {{link.title}}
          <hr>
        </li>
      </ul>
    </div>
  </div>
</div>
