<div id="home" class="row animate__animated animate__fadeIn d-flex justify-content-center m-md-5 p-md-3 pb-md-5 px-lg-5">
  <div data-aos="fade-up" class="col-12 mt-5 text-center">
    <h2 class="h2 mt-5">
      ¿Como encontrarnos?
    </h2>
  </div>

  <div data-aos="fade-up" class="col-11 col-md-8 col-lg-6 col-xl-4 my-4">
    <button (click)="openUrl('geo:-40.8007841, -65.0728465')" class="btn btn-lg btn-primary w-100">
      ABRIR GOOGLE MAPS
    </button>
  </div>

  <div class="mb-5 row">
    <div data-aos="fade-up" class="card col-12 mb-2 mt-4 p-4 text-center" style="text-align: justify;">
      <h5 class="h5">
        <strong>
          Nos encontramos a 3 cuadras de la bajada "Los Acantilados" y a 12 cuadras del centro.
        </strong>
      </h5>
    </div>

    <div data-aos="fade-up" class="col-12 col-lg-6 mb-5 mb-lg-0 p-0 p-lg-1 access-nort">
      <div class="card p-5">
        <h5 class="h5 title-suscribe">Acceso Norte</h5>

        <p style="text-align: justify;">
          Por <strong>RUTA 2</strong> hasta llegar a <strong>LA ANONIMA</strong>.
          Doblar a la izquierda por <strong>PUNTA VILLARINO</strong>.
          Seguir hasta <strong>GOLFO SAN JORGE</strong>.
          Doblar a la derecha en <strong>GOLFO SAN JORGE</strong>.
        </p>
      </div>
    </div>

    <div data-aos="fade-up" class="col-12 col-lg-6 p-0 p-lg-1 access-sourth">
      <div class="card p-5 pb-4">
        <h5 class="h5 title-suscribe">Acceso Sur</h5>

        <p style="text-align: justify;">
          Ingresar por <strong>ACCESO SUR</strong> (<strong>OMAR VILLA VERDE</strong>).
          Tomar salida de <strong>AV. RIO NEGRO</strong>.
          Circular hasta llegar a la <strong>ESTACION DE SERVICIO</strong> que se encuentra a mano derecha.
          Tomar <strong>AV. CURRU LEIVU</strong> hasta <strong>PUNTA VILLARINO</strong>.
          Doblar a la izquierda en <strong>GOLFO SAN JORGE</strong>.
        </p>
      </div>
    </div>
  </div>
</div>
