<div id="conditions" class="row">
  <div class="col-12">

    <div data-aos="fade-up" class="row">
      <div class="col-12 mb-3 mt-3 mt-md-5 text-center">
        <h2 class="h2 my-5">
          Condiciones
        </h2>
      </div>
    </div>

    <div class="d-flex justify-content-around row">
      <div class="col-12 col-md-6 col-lg-3">
        <h4 class="h4"><strong>Información</strong></h4>

        <div class="my-4">
          <p>Check-in:a partir de las 15:00hs</p>
          <p>Check-out: hasta las 10:00hs</p>
          <p>Capacidad: de 1 a 6 pasajeros</p>
          <p>Whatapp: +54 9 2920 41-8546</p>
          <p>Telefono: +54 9 292 044-6441</p>
          <p>Correo: alquileresvalquiria@hotmail.com</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 mb-5">
        <h4 class="h4"><strong>Detalles</strong></h4>

        <ul class="my-4">
          <li>
            <p>Las tarifas son en pesos.</p>
          </li>

          <li>
            <p>Las reservas se realizaran por teléfono o por e-mail.</p>
          </li>

          <li>
            <p>Para la confirmación de la reserva deberá enviar un correo y consultar las condiciones.</p>
          </li>

          <li>
            <p>Por cancelación no se realizara la devolución del depósito.</p>
          </li>

          <li>
            <p>En caso de retiro anticipado o disminución del plazo de reserva, se abonará el 100% de los días contratados.</p>
          </li>

          <li>
            <p>Los bebes hasta 1 año poseen tarifa especial y luego abonan tarifa plena.</p>
          </li>

          <li>
            <p>Los ocupantes del departamento serán solo los pactados para el lapso de alquiler en el momento de la reserva.</p>
          </li>

          <li>
            <p>Está prohibido el ingreso al complejo de pasajeros que no estén alojados.</p>
          </li>

          <li>
            <p>No se aceptan mascotas.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
